.one1{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.one {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 4vh;

}
.heading{
  color: white;
  font-size: 4vh;
  background-color: blue;
  border: 4vh;
  box-shadow: 4vh;
}
.heading2{
  color: white;
  font-size: 4vh;
  background-color: blue;
  border: 4vh;
  box-shadow: 4vh;
}
